:root{
    --nav-bg-color--: rgba(100, 144, 248, 0.9);
    --main-card-info-color--: rgba(94, 94, 94, 0.5)
    /*--scrolled-color--: */
}

body, html{
    height: 100%;
}

.nav-brand-info{
    font-size: 10pt;
}

nav{
    border-bottom:1px solid black !important;
    box-shadow: 5px 3px 5px black;
}

.btn{

}

.top-nav-collapse {
    background: var(--nav-bg-color--)
}

.navbar:not(.top-nav-collapse){
    background: transparent !important;
}


@media (max-width: 767px){
    .navbar:not(.top-nav-collapse){
        background: var(--nav-bg-color--) !important;
    }

    .main-card-info{
        margin-right: auto;
        margin-left: auto ;
    }
}

#view, #view_search{
    /* The image used */
    /*background-image:url("../img/blue-sky-bright-clouds-125457.jpg");*/
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.row-main{
    height: 33vh;
}

.main-card-info{
    margin: 1rem;
    background:  var(--main-card-info-color--) !important;
    box-shadow: 5px 3px 3px black;
}